<header id="header" class="container mb-1">
    <div class="row">
        <div class="logo-box col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <img class="logo" src="{{logo}}" />
        </div>
        <div class="logo-box col-xs-12 col-sm-8 col-md-9 col-lg-9 text-right mt-1 mb-1">
            <div class="header-banner-box">
                <img src="{{banner}}"/>
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning text-white" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Trang chủ</a>
          <button id="button_navbar" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Dịch vụ</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sản phẩm
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Vn native framework 2</a></li>
                  <li class="border-top"><a class="dropdown-item" href="#">Vn native framework 3</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Liên hệ</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- Navbar -->

    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="
          background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
          height: 400px;
        ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Giải pháp công nghệ cho công ty vừa và nhỏ</h1>
                    <h4 class="mb-3">Giảm chi phí và rủi ro</h4>
                    <a class="btn btn-outline-light btn-lg" href="#!" role="button">Chi tiết </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>