#GLOBAL
PORT=9000


#WEB
WEB_NAME="Vn Native Framework"
WEB_SLOGAN="Cross Framework"
WEB_BUILD=1

#ANDROID
ANDROID_APP_NAME="Vn Native Framework"
ANDROID_APP_ID="com.tani.vn3"
ANDROID_BUILD=0



#IOS
IOS_APP_NAME="Vn Native Framework"
IOS_APP_ID="com.tani.vn3"
IOS_BUILD=0