@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/mdb-ui-kit/css/mdb.min.css";
.logo-box {
    position: relative;
    overflow: hidden;
}
.logo-box img {
    max-width: 100%;
}
.text-right {
    text-align: right;
}
.intro-box-text {
    margin-top: 25px;
}
.intro-box-text-title {
    line-height: 60px;
}
.text-strong-title {
    padding: 5px;
}
.contact-box {
    list-style: none;
}