@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
    font-family: 'Roboto Slab', serif;
}
h1 {
    color: red;
}
.site-logo {
    height: 250px;
    width: 320px;
    margin: auto;
}
.site-logo img {
    max-width: 100%;
}
.box-container {
    width: 80%;
    margin: auto;
}