/**
 @ Don't include global.css at assets directory 
**/  
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
    font-family: 'Roboto Slab', serif;
}
h1 { 
    color: red;
}
.box-container {
    width: 80%;
    margin: auto;
}