<footer class="footer border-top">
    <div class="container mt-1">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt-1 mb-1">
                <h2 class="mt-1 h4"><i class="text-danger">Tani Asean</i> <i><small>said:</small></i></h2>
                <p>Chúng tôi vẫn đang tiếp tục nổ lực để tạo ra thêm những điều khác biệt so với những điều khác biệt.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt-1 mb-1">
                <h2 class="text-dark h6 footer-title-address text-uppercase mt-1">Địa chỉ đăng ký</h2>
                <p>P.702A Tầng 7, Tòa nhà Centre Point, 106 Nguyễn Văn Trỗi, Phường 8, Quận Phú Nhuận, Thành phố Hồ Chí Minh </p>
            </div>
        </div>
    </div>
</footer>