<div class="container mt-1 mb-1">
    <div class="row mt-1 mb-1">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 intro-box-text">
            <h2 class="text-uppercase text-warning h1 mt-1 intro-box-text-title">
                <span class="text-white bg-warning text-strong-title">Lập trình</span> đa nền tảng</h2>
            <p>Đến với chúng tôi, hợp đồng, cam kết rõ ràng. Chi phí của một dự án web mà lại 
                có hết tất cả các nền tảng trong đó bao gồm cả web.</p>
            <p>Nói một cách nào khác bạn đang giảm chi phí và rủi ro xuống gấp rất nhiều lần và tăng đối tượng khách hàng phục vụ lên gấp nhiều lần. </p>    
            <button class="btn btn-success">Liên hệ ngay</button>    
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-right">
            <div class="intro-banner">
                <img src="{{banner}}"/>
            </div>
        </div>
    </div>
</div>